/*&display=swap*/
/*&subset=cyrillic-ext*/
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700,900,&display=swap);

/*обнуление*/
*,	
*::before, 
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
}
.wrapper{
	min-height: 100%;
	padding: 50px;
}

.ftitle{
	background: url(../img/mount.png) 0  0 / cover no-repeat;
	width: 1000px;
	margin-bottom: 20px;
	background-attachment:fixed;
	font-size: 30px;
	text-align: center;
	color: black;
	font-weight: 900;
}



.text1{
	background-color: brown;
	font-size: 15px;
	width: 700px;
	font-weight: 700;
	color: chartreuse;
	padding: 30px;
	margin-bottom: 20px;
}
.text2{
	font-size: 15px;
	width: 700px;
	font-weight: 700;
	background:radial-gradient(ellipse at center, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%) ;
	padding: 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.text3{
	font-size: 15px;
	max-width: 700px;
	font-weight: 700;
	padding: 60px;
	margin-bottom: 20px;
	background:#0000ff url("../img/_OS3bSdsVWk.jpg") 20px 10px no-repeat;
	background-size:cover;
}	
.text4{
	font-size: 15px;
	width: 700px;
	font-weight: 700;
	padding: 30px;
	margin-bottom: 20px;
	background-image: url(../img/respect.jpg);
	background-size: contain;
}
.text5
{
	font-size: 15px;
	width: 400px;
	font-weight: 700;
	padding: 30px;
	margin-bottom: 20px;
	background: rgba(255, 0, 0, 0.644) url(../img/watsup.png)30px 20px ;
	background-repeat: repeat-x;
	background-size: 50px 50px;
}
.text6{
	font-size: 15px;
	width: 1000px;
	font-weight: 700;
	padding: 30px;
	margin-bottom: 20px;
	color: beige;
	background: url(../img/stars.jpg) 0 1% no-repeat ;
	background-size:cover;
	background-attachment: fixed;
}
.text7{
	font-size: 15px;
	width: 800px;
	font-weight: 700;
	padding: 100px;
	margin-bottom: 20px;
	background: linear-gradient(to right, rgba(76,76,76,0.3) 0%,rgba(92,92,92,0.3) 15%,rgba(102,102,102,0.38) 25%,rgba(71,71,71,0.5) 39%,rgba(89,89,89,0.57) 47%,rgba(17,17,17,0.68) 60%,rgba(0,0,0,0.7) 62%,rgba(44,44,44,0.79) 73%,rgba(43,43,43,0.81) 76%,rgba(0,0,0,0.83) 79%,rgba(28,28,28,0.93) 91%,rgba(0,0,0,0.97) 96%,rgba(19,19,19,1) 100%) , url(../img/udav.jpg) 0 0 /cover no-repeat;

}
.text8{
	font-size: 15px;
	width: 800px;
	font-weight: 700;
	padding: 30px;
	background: url(../img/ocean.jpg) 0 0 /contain repeat;
	margin-bottom: 20px;
}
.text9{
	font-size: 15px;
	width: 800px;
	font-weight: 700;
	padding: 100px;
	background: url(../img/OverlineMark.png) left no-repeat, url(../img/OverlineMark.png) 50% 40px no-repeat, url(../img/OverlineMark.png) right top no-repeat, url(../img/01.png) right no-repeat;
	margin-bottom:20px;
}

.text10{
	display: inline-block;
	font-size: 15px;
	width: 800px;
	font-weight: 700;
	padding: 100px;
	background: url(../img/respect.jpg) 0 0 no-repeat;
	background-size: cover;
	margin-bottom: 150px;
}
.span{
	margin: 150px;
}
.text11{
	font-size: 15px;
	width: 800px;
	font-weight: 700;
	padding: 100px;
	background: url(../img/respect.jpg) 0 0 no-repeat;
	background-size: cover;
}

.listul li{
	margin: 0px 0px 20px 0px;
	background: url(../img/OverlineMark.png) 0 0  no-repeat;
	font-size: 12px;
	min-height: 27px;
	padding: 7px 0px 0px 25px;
}

.list1{
	margin-bottom: 100px;
}



.list2{
	margin-bottom: 150px;
}
.listpunkt li{
	width: 100px;
	margin: 0px 0px 20px 0px;
	background: url(../img/stars.jpg) 0 0  no-repeat;
	background-attachment: fixed;
	font-size: 12px;
	min-height: 27px;
	padding: 7px 0px 0px 25px;
	color: beige;
}
.ttitle{
	background: url(../img/ocean.jpg) 0 0 no-repeat;
	width: 1000px;
	margin-bottom:200px;
	font-size: 30px;
	text-align: center;
	color: black;
	font-weight: 900;
	padding: 30px;
	overflow: scroll;
	max-height: 500px;
}

.list3{
	margin-bottom:50px;
}

.list3new li {
	width: 100px;
	margin: 0px 0px 20px 0px;
	background: url(../img/OverlineMark.png) right  no-repeat;
	font-size: 12px;
	min-height: 27px;
	padding: 7px 0px 0px 25px;
}

.title2 {
	background: url("../img/01.png") 50%/cover no-repeat;
	width: 1000px;
	margin-bottom:200px;
	font-size: 30px;
	text-align: center;
	color: rgb(226, 12, 12);
	font-weight: 900;
	padding: 30px;
}




.content{

	width: 237px;
	font-family:Roboto , sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing:0,15px;
	color: #4B4B4B;
}

.adress{
	background: url(../img/icons/place.png) 0 2px no-repeat;
	margin-bottom: 18px;
	padding: 0px 0px 0px 35px;
	width: 200px;

}

.telefone{
	margin-bottom: 18px;
	background: url(../img/icons/smartphone.png) 0 2px no-repeat;
	padding: 0px 0px 0px 35px;
	width: 200px;
}

.mail{
	margin-bottom: 18px;
	background: url(../img/icons/email.png) 0 2px no-repeat;
	padding: 0px 0px 0px 35px;
	width: 200px;
}

.worktime{
	margin-bottom: 88px;
	background: url(../img/icons/timer_24px.png) 0 2px no-repeat;
	padding: 0px 0px 0px 35px;
	width: 200px;
}


.title3{
	background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 51%,rgba(0,0,0,0) 100%), url("../img/01.png") 30px 0 no-repeat;
	width: 1000px;
	margin-bottom:200px;
	font-size: 30px;
	text-align: center;
	color: rgb(226, 12, 12);
	font-weight: 900;
	padding: 30px;
}

.bgblock{
	background: url(../img/bgimg.png) no-repeat;
	border:1px solid rgba(236, 11, 11, 0) ;
	font-family:Roboto, "sans-serif";
	width: 1440px;
	margin-bottom: 100px;
}

.bgtittle{
	margin:280px 647px 0px 210px;
}

.texttitle{
	color: #FFFFFF;
	margin-bottom: 52px;
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
}

.buttom{
	width: 211px;
	background: url(../img/Group7.png) right no-repeat;
	background-color: #C40B0B;
	margin: 0px 1019px 312px 210px;
}

.textbuttom{
	display: inline-block;
	font-weight:700;
	font-size:12px;
	line-height:24px;
	letter-spacing:0,15px;
	color: #FFFFFF;
	padding-top: 9px;
	padding-bottom: 9px;
	text-transform: uppercase;
	margin-left: 19px;
}

.title4{
	background: url(../img/ocean.jpg) 0 0 no-repeat ;
	width: 1000px;
	margin-bottom:200px;
	font-size: 30px;
	text-align: center;
	color: rgb(49, 14, 14);
	text-shadow: black 1px 1px 10px;
	font-weight: 900;
	padding: 30px;
}

.mainconteyner{
	width: 1440px;
	background: url(../img/fon/overlayimage.png) 0 0 no-repeat;
	background-color: #02133C;
	font-family:Roboto , sans-serif;
}

.conteyner {
		margin-left: 210px;
}

.little{
	width: 303px;
	padding-top: 114px;
	margin-bottom: 32px;
}

.minitext{
	font-weight: 700;
	font-size: 12px;
	min-height: 16px;
	letter-spacing:2.5px;
	color: #D5D5D5;
	text-transform: uppercase;
	background: url(../img/OverlineMark.png)0 0 no-repeat;
	padding: 7px 0px 0px 33px;
}

.mainbig{
	width: 411px;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px ;
	color: #FFFFFF;
	margin-bottom: 77px;
}

.blockdif {
	font-family:Roboto , sans-serif;
	padding-bottom: 212px;


}

.blockfor1{
	display: inline-block;
	width: 150px;
	padding: 11px 0px 0px 88px;
	min-height: 76px;
	vertical-align:middle;
}

.firstblockdif {
	display: inline-block;
	width: 237px;
	margin: 0px 24px 0px 0px;
	background: url(../img/icons/twice/car_oil.png)0 50% no-repeat;
}


.numb {
	display: inline-block;
	width: 150px;
	font-weight: 900;
	font-size: 36px;
	line-height: 32px;
	color: #C40B0B;
	margin-bottom: 13px;
}
.titleabout1 {
	display: inline-block;
	width: 149px;
	font-weight: 400;
	font-size: 16px;
	color:#F5F5F5;
}


.twiceblockdif {
	display: inline-block;
	width: 237px;
	margin: 0px 24px 0px 0px;
	background: url(../img/icons/twice/car_transmission.png)0 50% no-repeat;
}

.numb1 {
	display: inline-block;
	width: 150px;
	font-weight: 900;
	font-size: 36px;
	line-height: 32px;
	color: #C40B0B;
	margin-bottom: 13px;
}
.titleabout2 {
	display: inline-block;
	width: 98px;
	font-weight: 400;
	font-size: 16px;
	color:#F5F5F5;
}


.thirdblockdif {
	display: inline-block;
	width: 237px;
	margin: 0px 24px 0px 0px;
	background: url(../img/icons/twice/car_alignment.png)0 50% no-repeat;
}
.img3 {
	display: inline-block;
}
.numb2 {
	display: inline-block;
	width: 150px;
	font-weight: 900;
	font-size: 36px;
	line-height: 32px;
	color: #C40B0B;
	margin-bottom: 13px;
}
.titleabout3 {
	display: inline-block;
	width: 149px;
	font-weight: 400;
	font-size: 16px;
	color:#F5F5F5;
}


.forthblockdif {
	display: inline-block;
	max-width: 237px;
	margin: 0px 24px 0px 0px;
	background: url(../img/icons/twice/car_engine.png)0 50% no-repeat;
}
.img4{
	display: inline-block;
}
.numb3 {
	display: inline-block;
	width: 150px;
	font-weight: 900;
	font-size: 36px;
	line-height: 32px;
	color: #C40B0B;
	margin-bottom: 13px;
}
.titleabout4 {
	display: inline-block;
	width: 149px;
	font-weight: 400;
	font-size: 16px;
	color:#F5F5F5;
}



.imgblock{
	margin: 0px 210px -237px 732px;
}